Instagram%20Growth%20Strategist%20-%20Job%20Intake%20-%20CLEANED.json
{
  "name": "Instagram Growth Strategist - Job Intake",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?gid=0#gid=0",
          "mode": "url"
        },
        "event": "rowAdded",
        "options": {}
      },
      "id": "640dbf48-240e-495c-9e33-914256486ef1",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        -32
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "YOUR_N8N_CREDENTIAL_ID",
          "name": "YOUR_N8N_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "username-not-empty",
              "leftValue": "={{ $json.username }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "status-empty",
              "leftValue": "={{ $json.status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1c2a3e2f-215b-4bef-b0dd-da4203ffa65e",
      "name": "Validate Row Should Be Processed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        80,
        -32
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "username",
              "name": "username",
              "value": "={{ $json.username }}",
              "type": "string"
            },
            {
              "id": "clean_username",
              "name": "clean_username",
              "value": "={{ $json.username.toString().toLowerCase().replaceAll('@', '').trim() }}",
              "type": "string"
            },
            {
              "id": "job_id",
              "name": "job_id",
              "value": "={{ $json.username.toString().toLowerCase().replaceAll('@', '').trim() + '_' + $now.toFormat('yyyyMMdd_HHmmss') }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "processing",
              "type": "string"
            },
            {
              "id": "created_at",
              "name": "created_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "started_at",
              "name": "started_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "source",
              "name": "source",
              "value": "google_sheets",
              "type": "string"
            },
            {
              "id": "workflow_stage",
              "name": "workflow_stage",
              "value": "intake",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "4694bbbf-396c-4e52-9fa7-ab34bd8dd14c",
      "name": "Create Analysis Job",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -48
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "YOUR_GOOGLE_SHEET",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "username": "={{ $json.username }}",
            "status": "={{ $json.status }}",
            "job_id": "={{ $json.job_id }}",
            "scrape_status": "=waiting"
          },
          "matchingColumns": [
            "username"
          ],
          "schema": [
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "scrape_status",
              "displayName": "scrape_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "profile_name",
              "displayName": "profile_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "followers",
              "displayName": "followers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "posts_found",
              "displayName": "posts_found",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "analysis_status",
              "displayName": "analysis_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "content_strategy",
              "displayName": "content_strategy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "posting_plan",
              "displayName": "posting_plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "growth_tips",
              "displayName": "growth_tips",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "analysis_error",
              "displayName": "analysis_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "posts_analyzed",
              "displayName": "posts_analyzed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "best_post",
              "displayName": "best_post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "best_post_likes",
              "displayName": "best_post_likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "best_post_comments",
              "displayName": "best_post_comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "winning_niche",
              "displayName": "winning_niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "new_content_ideas",
              "displayName": "new_content_ideas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "report_link",
              "displayName": "report_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_status",
              "displayName": "email_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        -48
      ],
      "id": "5faeb2be-fdc5-49a0-b863-ae1448f31fdf",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_N8N_CREDENTIAL_ID",
          "name": "YOUR_N8N_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "YOUR_GOOGLE_SHEET",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "YOUR_GOOGLE_SHEET",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "username": "={{ $('Google Sheets Trigger').first().json.username }}",
            "scrape_status": "={{\"scraped\"}}",
            "best_post": "={{$json.best_post}}",
            "best_post_likes": "={{$json.best_post_likes}}",
            "best_post_comments": "={{$json.best_post_comments}}",
            "winning_niche": "={{$json.winning_niche}}",
            "new_content_ideas": "={{$json.new_content_ideas}}",
            "analysis_status": "={{$json.analysis_status}}",
            "row_number": 0,
            "content_strategy": "={{$json.content_strategy}}",
            "posting_plan": "={{$json.posting_plan}}",
            "job_id": "={{ $('Create Analysis Job').item.json.job_id }}",
            "report_link": "={{ $json.report_link || 'YOUR_GOOGLE_DOC_REPORT_URL' }}"
          },
          "matchingColumns": [
            "job_id"
          ],
          "schema": [
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "scrape_status",
              "displayName": "scrape_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "profile_name",
              "displayName": "profile_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "followers",
              "displayName": "followers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "posts_found",
              "displayName": "posts_found",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "analysis_status",
              "displayName": "analysis_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "content_strategy",
              "displayName": "content_strategy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "posting_plan",
              "displayName": "posting_plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "growth_tips",
              "displayName": "growth_tips",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "analysis_error",
              "displayName": "analysis_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "posts_analyzed",
              "displayName": "posts_analyzed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "best_post",
              "displayName": "best_post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "best_post_likes",
              "displayName": "best_post_likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "best_post_comments",
              "displayName": "best_post_comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "winning_niche",
              "displayName": "winning_niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "new_content_ideas",
              "displayName": "new_content_ideas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "report_link",
              "displayName": "report_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_status",
              "displayName": "email_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1808,
        -48
      ],
      "id": "0294ccf5-e0a6-438d-bbf4-2dfc71e07f28",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_N8N_CREDENTIAL_ID",
          "name": "YOUR_N8N_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~instagram-scraper/run-sync-get-dataset-items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_APIFY_API_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"directUrls\": [\"https://www.instagram.com/{{$json.username}}/\"],\n  \"resultsType\": \"posts\",\n  \"resultsLimit\": 20\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        864,
        -48
      ],
      "id": "fdc26fc3-f0c0-4565-b3e2-96ab442ffe7c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an Instagram growth strategist.\n\nAnalyze these recent Instagram posts and find what works best.\n\nPosts analyzed: {{$json.posts_analyzed}}\n\nPosts data:\n{{ JSON.stringify($json.posts) }}\n\nCompare posts by:\n- likes\n- comments\n- video views\n- topic/niche from caption\n- format/type\n\nReturn ONLY this format:\n\nBest post:\nBest post likes:\nBest post comments:\nWinning niche:\nContent strategy:\nNew content ideas:\nPosting plan:\nAnalysis status: done"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        1264,
        -48
      ],
      "id": "d601e278-98dc-4775-a812-ab2e18783148",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_N8N_CREDENTIAL_ID",
          "name": "YOUR_N8N_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const posts = items.map((item, index) => {\n  const p = item.json;\n\n  return {\n    number: index + 1,\n    caption: p.caption || p.alt || '',\n    likes: p.likesCount || 0,\n    comments: p.commentsCount || 0,\n    videoViews: p.videoPlayCount || 0,\n    type: p.type || p.__typename || '',\n    url: p.url || p.inputUrl || ''\n  };\n});\n\nreturn [\n  {\n    json: {\n      username: items[0].json.username || items[0].json.ownerUsername || '',\n      posts_analyzed: posts.length,\n      posts\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        -48
      ],
      "id": "45d554a8-a7eb-481c-bbaa-a6a209c85ba9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2585d55e-1253-4f99-be48-79695eff5eea",
              "name": "best_post",
              "value": "={{ $json.content.parts[0].text.match(/Best post:\\s*(.*)/)?.[1] || '' }}",
              "type": "string"
            },
            {
              "id": "5d5b7b53-c14c-4788-b572-cbafc0671ce4",
              "name": "best_post_likes",
              "value": "={{ $json.content.parts[0].text.match(/Best post likes:\\s*(.*)/)?.[1] || '' }}",
              "type": "string"
            },
            {
              "id": "b08d9fac-a291-4af0-b4ed-45571b109cd7",
              "name": "best_post_comments",
              "value": "={{ $json.content.parts[0].text.match(/Best post comments:\\s*(.*)/)?.[1] || '' }}",
              "type": "string"
            },
            {
              "id": "940d5790-4b76-4529-8af5-dda7e41740a5",
              "name": "winning_niche",
              "value": "={{ $json.content.parts[0].text.match(/Winning niche:\\s*([\\s\\S]*?)Content strategy:/)?.[1]?.trim() || '' }}",
              "type": "string"
            },
            {
              "id": "0d8fdd5c-3b6f-4b61-aaec-6430dfc56145",
              "name": "content_strategy",
              "value": "={{ $json.content.parts[0].text.match(/Content strategy:\\s*([\\s\\S]*?)New content ideas:/)?.[1]?.trim() || '' }}",
              "type": "string"
            },
            {
              "id": "48816f6b-7ae5-43db-84ba-2791d3473663",
              "name": "new_content_ideas",
              "value": "={{ $json.content.parts[0].text.match(/New content ideas:\\s*([\\s\\S]*?)Posting plan:/)?.[1]?.trim() || '' }}",
              "type": "string"
            },
            {
              "id": "7817e813-d98b-4ba9-88bc-9331a94c518e",
              "name": "posting_plan",
              "value": "={{ $json.content.parts[0].text.match(/Posting plan:\\s*([\\s\\S]*?)Analysis status:/)?.[1]?.trim() || '' }}",
              "type": "string"
            },
            {
              "id": "c0caac94-a44e-4233-b291-e188353a8325",
              "name": "analysis_status",
              "value": "done",
              "type": "string"
            },
            {
              "id": "6112f65a-9406-40ac-b737-8633b19e334c",
              "name": "username",
              "value": "={{ $('Code in JavaScript').item.json.username }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        -48
      ],
      "id": "3614d814-f604-4b89-8711-1d07d399dc83",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Validate Row Should Be Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Row Should Be Processed": {
      "main": [
        [
          {
            "node": "Create Analysis Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Analysis Job": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "nodeGroups": [],
  "tags": []
}